/* reset, overwrite */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  font-family: var(--font-family-jp);
}

html {
  font-size: clamp(0.88rem, 1.5vw, 1rem);
  line-height: 2.1;
}

:where(ul[class]) {
  margin: 0;
  padding: 0;
}

:where(img) {
  max-width: 100%;
  height: auto;
}

:where(a[href]) {
  text-underline-offset: 4px;
}

:where(a[href]:hover) {
  opacity: 0.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1em;
}

p,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--c-dark);
  font-feature-settings: 'palt';
  letter-spacing: 0.05em;
}

p,
ul,
ol,
li {
  font-family: 'BIZ UDPGothic', var(--font-family-jp);
}

/* variable */
:root {
  --c-static-dark: #333;
  --c-static-darker: #222;
  --c-static-darkest: #111;
  --c-static-light: #ddd;
  --c-static-lighter: #eee;
  --c-static-lightest: #fff;
  --c-static-base-dark: #1f214e;
  --c-static-base-light: #c6c8ec;
  --c-static-secondary: #70909e;
  --c-static-important: #db3131;
  --content-max-size: 900px;
  --transition-time: 250ms;
  --font-family-jp: 'M PLUS 1', 'Source Han Sans JP', 'Noto Sans JP', 'Helvetica Neue', Arial,
    'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
}

html:not([class*='dark-mode']) {
  color-scheme: light;
  --c-dark: var(--c-static-dark);
  --c-darker: var(--c-static-darker);
  --c-darkest: var(--c-static-darkest);
  --c-light: var(--c-static-light);
  --c-lighter: var(--c-static-lighter);
  --c-lightest: var(--c-static-lightest);
  --c-base-dark: var(--c-static-base-dark);
  --c-base-light: var(--c-static-base-light);
  --c-secondary: var(--c-static-secondary);
  --c-important: var(--c-static-important);
}

html.dark-mode {
  color-scheme: dark;
  --c-dark: var(--c-static-light);
  --c-darker: var(--c-static-lighter);
  --c-darkest: var(--c-static-lightest);
  --c-light: var(--c-static-dark);
  --c-lighter: var(--c-static-darker);
  --c-lightest: var(--c-static-darkest);
  --c-base-dark: var(--c-static-base-light);
  --c-base-light: var(--c-static-base-dark);
  --c-secondary: var(--c-static-secondary);
  --c-important: var(--c-static-important);
}
