---
import Layout, { type OGProperty } from '@layouts/Layout.astro';

const ogp: Partial<OGProperty> = {
  type: 'blog',
};
const pageName = 'post';
const description = 'ブログ一覧ページ';
---

<Layout title={pageName} description={description} ogp={ogp}>
  <h2>{pageName}</h2>
</Layout>
